body {
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  width: 996px;
  height: 618px;
  background: #ffffffff;
  border-radius: 8px;
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 996px;
  background-color: white;
}

.image-section {
  position: relative;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 445px;
  height: 618px;
  border-radius: 0px 8px 8px 0px;
  background: #00bdd6ff;
}

.image-section img {
  width: 445px;
  height: 418px;
}

.title {
  margin-bottom: 32px;
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
  font-family: 'Epilogue', sans-serif;
}

.form-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 96px;
}

.form-input {
  position: relative;
  width: 359px;
  margin-bottom: 24px;
}

.form-input input {
  width: 359px;
  padding: 25px 12px 4px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  background: #f3f4f6ff;
  border-radius: 4px;
  border-width: 0px;
  outline: none;
}

.form-input label {
  position: absolute;
  top: 30%;
  left: 12px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  pointer-events: none;
  transform: translateY(-50%);
  transition: 0.3s;
}

.form-input input:not(:placeholder-shown) ~ label {
  font-size: 10px;
  font-weight: normal;
  top: 20%;
}

.form-input input:focus {
  border: 1px solid #00bcd4;
  background: white;
  border-color: #00bcd4;
  box-shadow: 0 0 10px rgba(0, 188, 212, 0.5);
  caret-color: transparent;
}

input::placeholder {
  position: absolute;
  top: 70%;
  left: 12px;
  color: #bcc1caff;
  transform: translateY(-40%);
}

input[type='password']::-ms-reveal,
input[type='password']::-ms-clear,
input[type='password']::-webkit-clear-button,
input[type='password']::-webkit-reveal-button {
  display: none;
}

.form-input {
  position: relative;
}

.form-input .toggle-password {
  position: absolute;
  top: 70%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.form-input .toggle-password svg {
  width: 16px;
  height: 16px;
  fill: #171a1fff;
  transition: opacity 0.2s ease;
}

.form-input .toggle-password .show-icon {
  display: block;
}

.form-input .toggle-password .hide-icon {
  display: none;
}

.form-content button {
  width: 359px;
  height: 44px;
  padding: 0 16px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffffff;
  background: #00bdd6ff;
  opacity: 1;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 8px 17px #00bdd626, 0px 0px 2px #00bdd61f;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 32px;
}

.content {
  margin-top: 0;
  padding-top: 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #323842ff;
  text-align: center;
}

.social-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.btn {
  width: 81px;
  height: 36px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 18px;
}
.btn svg {
  width: 16px;
  height: 16px;
}

#google {
  background-color: #fef1f1ff;
}

#facebook {
  background-color: #f3f6fbff;
}

#apple {
  background-color: #f3f4f6ff;
}
